<!DOCTYPE html>
<html>
    <head>
        <title>ChatApp</title>
        <meta lang="fr" charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href ="index.css" rel="stylesheet" >
    </head>
    <body>
        <h1>ChatApp</h1>
        <div id ="userForm">
            <form action = "../controller/message.js" method ="post">
                <span>Nom : </Nav><input type="text" name ="User" value="" placeholder="Entrez votre nom"/></span>
                <span>Message : <input type="text" name ="Message" value="" placeholder="Entrez votre message"/></span>
                <button type="submit">Envoyer</button>
            </form>
        </div>
        <div id ="chatArea">
            
        </div>
    </body>
</html>















<>